body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-gap: 5px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #4909df;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.cell.revealed {
    background-color: #b8bfbd;
    cursor: default;
}

.cell.mine {
    background-color: red;
}

.cell.flagged {
    background-color: yellow;
}

#i1 {
    color: rgb(34, 48, 247);
}

#i2 {
    color: rgba(27, 116, 17, 255);
}

#i3 {
    color: rgba(175, 32, 32, 255);
}

#i4 {
    color: rgba(5, 7, 95, 255);
}

#i5 {
    color: rgba(102, 5, 4, 255);
}

#i6 {
    color: rgba(43, 105, 104, 255);
}

#i7 {
    color: rgb(0, 0, 2);
}

#i8 {
    color: rgba(101, 14, 103, 255);
}